*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
    background-color: #191919;
}

header ul li{
    display: inline-block;
    color: #fff;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 15px;
}

header ul li a:hover{
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}

header ul li a:hover::before{
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #fff;
    bottom: 10px;
    height: 8px;
    content: '';
    width: 8px;
    left: 50%;
}

header ul .first{
    margin-left: 6vw;
    margin-top: 20px;
}

header ul li img{
    position: absolute;
    width: 5vw;
    margin-top: -20px;
}