<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="PoolPrime Website">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>POOL PRIME | SWIMMING POOL EXPERTS</title>
        <link rel="shortcut icon" href="img/logo.png">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>

        <header>
            <ul>
                <li class="logo"><img src="img/logo.png" alt="logo"></li>
                <li class="menu">{{ 'translate.link1'|trans }}</li>
                <li class="menu">{{ 'translate.link2'|trans }}</li>
                <li class="menu">{{ 'translate.link3'|trans }}</li>
                <li class="menu">{{ 'translate.link4'|trans }}</li>
            </ul>
        </header>

    </body>
    <script type="application/javascript" src="js/jquery.js"></script>
    <script type="application/javascript" src="js/main.js"></script>
</html>