<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PoolPrime Website">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>POOL PRIME | {{ 'translate.link1'|trans }}</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">
</head>